@use 'vars';

@media (min-width: 600px) and (max-width: 1400px){
    .nav{
        li:first-of-type{
            display: none;
        }
        li{
            margin: vars.$std-spacing/2;
        }
        ul{
            padding: 0;
        }
    }

    .padding-horizontal{
        padding-left:vars.$std-spacing ;
        padding-right: vars.$std-spacing;
    }

    $wai-img-size: 200px;
    .yellow-box{
        width: $wai-img-size;
        height: $wai-img-size;
        display: inline-block;
    }
    .img-box{
        padding-left: vars.$std-spacing;
        padding-top: vars.$std-spacing;
        width: $wai-img-size;
        height: $wai-img-size;
        display: inline-block;
    }

    .center{
        transform: initial;
        top: initial;
        left: initial;
        position: initial;
        display: block;
        text-align: center;
        margin-top: calc(50vh - 25%);
        >dot-pattern{
            margin-top:  -50px;

            display: block;
            position: initial;
        }
    }

    .wai-right > div{
        padding-right: 0px;
        grid-template-columns: 66% 33%;
        > img{
            width: 100%;
        }
    }
}

@media only screen  and (orientation: portrait) and (max-width: 600px){
    .home-container{
        background-color: initial;
        grid-template-columns: 100vw;
        >img{
            grid-column: 1;
            grid-row: 1;
            
            z-index: -1;
            height: 100vh;
            width: unset;
            object-position: top center;
            
        }
    }
    
    .heading-container{
        background-color: initial;
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        text-align: right;
        >h1{
            padding-right: vars.$std-spacing;
        }
    }

    .burger{
        display: initial;
        position: absolute;
            left: 0px;
            top: 0px;
            margin-top: 20px;
            margin-left: 20px;
        >img{
            width: 50px;
        }
    }

    
.arrow-down{
    position: absolute;
    bottom: 0px;
    display: block;
    margin-bottom: vars.$std-spacing;
    left: calc(50vw - 75px/2);
    width: 75px;   
}

    .heading{
        
        position: initial;
        transform: initial;
        margin-top: 50%;
        margin-left: vars.$std-spacing;
        font-size: vars.$display-heading-m;
        
    }

    .nav{
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        z-index: 2;
        display: none;
        img{
            display: inline;
            width: 50px;
            color: white;
        }
        ul{ 
            padding: 0;
        }
        li{
            display: block;
            margin: vars.$big-spacing;
            font-size: vars.$display-heading-m;
        }
    }

    dot-pattern{
        display: none;
    }

    .wai-container{
        padding: 0;
        padding-left: vars.$std-spacing;
        padding-right: vars.$std-spacing;
        grid-template-columns: 1fr;
        height: initial;
        padding-bottom: 20px;
    }   

    .wai-left{
        text-align: center;
        margin-top: vars.$big-spacing;
        margin-bottom: 0px;
    }
    .center{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        display: inline-block;
        margin: auto;
        margin-top: vars.$big-spacing;
        >dot-pattern{
            display: none;
        }
    }
    $wai-img-size: 200px;
    .yellow-box{
        width: $wai-img-size;
        height: $wai-img-size;
    }
    .img-box{
        padding-left: vars.$std-spacing;
        padding-top: vars.$std-spacing;
        width: $wai-img-size;
        height: $wai-img-size;
    }

    .wai-right{
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        font-size: vars.$text-size-m;

        .center-vertical{
            padding: 0;
            position: initial;
            top: initial;
            left: initial;
            transform: initial;
            display: grid;
            height: initial;
            grid-template-columns: 1fr;
            grid-template-rows: initial;
            >h1{
                grid-row: 2;
                grid-column: 1;
            }
            >img{
                grid-row: 1;
                grid-column: 1;
                margin: auto;
                width: 100px;
                margin-top: vars.$std-spacing;
                margin-bottom: vars.$std-spacing;
            }
            >div{
                grid-row: 3;
                grid-column: 1;
                margin-bottom: vars.$big-spacing;
            }
        }
        h1{
            margin-top: 0px;
        }

        p{
            text-align: left;
        }
    }

    .work-container{
       padding: 0 vars.$std-spacing 0 vars.$std-spacing;

       ul{
          
       }
       li{
           margin: vars.$std-spacing/2;
       }
    }

    .card{
        grid-template-columns: 1fr;
        >img{
            grid-row: 3;
            grid-column: 1 ;
            width: 80%;
            margin: auto;
            display: inline-block;
            
        }
  
        .web{
            display: none;
        }
        .mobile{
            display: initial;
        }
    }
    .card-img{
        grid-column: 1;
        grid-row: 1;
        width: 100px;
        height: 100px;
        margin: auto;
        display: inline-block;
    }
    .card-text{
         grid-column: 1;
         grid-row: 2;
         text-align: center;
         margin: 0;
         h1{
             margin: revert;
         }
         p{
             font-size: vars.$text-size-m;
         }
      
         
    }

    .contact-container{
        grid-template-rows: 200px 1fr;
    }
    .contact-heading{
        grid-column: 1;
        grid-row: 1;
    }
    .contact-email{
        grid-column: 1;
        grid-row: 2;
        >img{
            display: block;
            margin: auto;
            margin-bottom: vars.$std-spacing/4;
        }
        margin-bottom: vars.$big-spacing;
    }
    .contact-socialmedia{
        grid-column: 1;
        grid-row: 3;

        margin-bottom: vars.$std-spacing;
    }
    .contact-info{
        grid-column: 1;
        grid-row: 4;
    }
    .easteregg{
        grid-column: 1;
        grid-row: 5;
    }

}