$dark-gray: #202020;
$light-gray: #AEAEAE;
$signal-color: #FCE38A;
$heading: 0.8em;
$display-heading: 1.5em;
$display-heading2: 1.2em;
$display-heading-m: 0.8em;
$display-heaidng2-m: 0.6em;
$text-size: 1.2em;
$text-size-m: 11pt;
$std-spacing: 20px;
$big-spacing: 50px;

@font-face{
    font-family: 'Work Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
}

@font-face{
    font-family: 'Space Mono', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
}